<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="username">username:</label>
      <input type="text" class="form-control" placeholder="Enter username" id="username">
    </div>
    <div class="form-group">
      <label for="email">email:</label>
      <input type="email" class="form-control" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter password" id="pwd">
    </div>
  </form>
  <button type="submit" class="btn btn-primary" id="btn-save">Submit</button>
  <script src="/blog/user.js"></script>
</body>

</html>